[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
huggingface-hub = "*"
pyttsx3 = "*"
google-cloud-texttospeech = "*"
pygame = "*"
google-cloud-speech = "*"
pyaudio = "*"
wave = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.11"
